<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
</style>

<span id="symbol"><%= model.symbol %></span>
<span id="money"><%= model.money %></span>

<div id="graph"></div>
